$def with(currentAmount, infos)
$var title: 增加商户预存款

<link rel="stylesheet" type="text/css" href="/static/css/rechange.css">
 <script src='/static/js/rechange.js' type='text/javascript'></script>


<div>
  <div>
    <div class='tr high'>
      <div class='td'><span>缴费号码</span></div>
      <div class='td'>缴费金额</div>
      <div class='td'>缴费类型</div>
      <div class='td'>当前滞纳金</div>
      <div class='td'>当前状态</div>
      <div class='td suplong'>操作</div>
    </div>
    <div clear='both'></div>
    $for info in infos:
      <div class='tr'>
         <div class='td' usercode=$info['usercode']>$info['usercode']</div>
         <div class='td' amount>$info['paymentmoney']</div>
         <div class='td'>
	   $if info['paymenttype'] == '000010':
	       水费
	   $elif info['paymenttype'] == '000020':
	       气费
	   $elif info['paymenttype'] == '000030':
	       电费
	   $elif info['paymenttype'] == '000040':
	       手机充值
	 </div>
         <div class='td' breach>$info['breach']</div>
         <div class='td' status>
           $if info['flag'] == 1:
               缴费成功后无欠费
           $else:
               一直可以缴费
         </div>
         <div class='td suplong'>
           <button onclick='submit2(this)'>修改滞纳金</button>(+1.5 CNY)
           &nbsp;&nbsp;
           <button onclick='clearBreach(this)'>清空滞纳金</button>
           &nbsp;&nbsp;
           <button onclick='switchStatus(this)'>切换状态</button>
         </div>
         <div class='td msg'><span msg></span></div>
      </div>
      <div class='clear'></div>
      <!-- 欠费列表start -->
      <div class='list'>
        <div class='list-left'>明细</div>
        <div class='list-right'>
          <!-- 欠费明细标题start -->
          <div class='tr list-tr-title'>
            <div class='td'>明细编号</div>
            <div class='td'>月份</div>
            <div class='td'>明细欠费金额</div>
            <div class='td'>滞纳金</div>
          </div><!-- 欠费明细标题end -->
          <!-- 欠费明细内容start -->
          <div class='tr list-tr'>
            <div class='td'>dssd</div>
            <div class='td'>dssd</div>
            <div class='td'>dssd</div>
            <div class='td'>dssd</div>
          </div><!-- 欠费明细内容end -->
        </div>
      </div><!-- 欠费列表end -->


      <div class='clear'></div>
   <div class='tr end'></div>
   <div class='high red'>注：所有可以设置滞纳金的帐号，点击修改滞纳金，在原始缴费金额上加1.5元成为滞纳金</div>
</div>

<p></p>
<div class='tr end'></div>
<div class='high red'>修改预存款：</div>
<div>
  <div>当前金额：<span id='curAmount'>$(currentAmount)</span>(CNY)</div>
  <div>增加金额：
    <input id='addAmount' value='' style='width:200px' />
    <button onclick='submit()'>提交</button>
    <span id='errormsg'></span>
</div>
